/* *{
    border: 4px solid red
} */

/* 

.specificRow{
    border: blue solid 0px;
     width: 100%;
     margin: auto !important;
}

.inSpecificCol{
display: inline-block;
border: blue solid 0px;
float: left;
text-align: left;
}
.inSpecificColB{
display: inline-block;
border: blue solid 0px;
float: right;
text-align: left;
} */





.dateField{
    width: 140px;
}


#contactOptions{
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

#minorText{
    font-size: 12 !important;
    color: #686868;
    margin-top: 0;
    padding-top: 0;
    border: black, solid, 2px;
}

.main{
    margin-top: 30px;
}

.box{
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    border: black solid 2px;
    border-radius: 15px;
}


.themeBlue{
    color: #144771;
   
}



.adoptableImg{
    max-height: 30vh;
    max-width: 30vw;
    border-radius: 15px;
}


.dogContainer{
    border-radius: 25px;
    border: #144771 solid 5px;
    padding: 20px;
}

.outerFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


.userHtml{
    background: #FFEFD3;
    min-height: 100vh; 


}


.userNav{
    background-color: #386A92;
}


#noPadding{
    padding: 0;
}

#extra3Padding{
    padding:3%;
}

#logoPic{
    height: 140px;

}

.homeNavLink{
    color:#FFEFD3 !important;
}

.homeNavLink::after{
    content: "";
    background-color: transparent;
    height: 4px;
    width: 0;
    display: block;
    transition: width .5s ease, background-color .5s ease;

}

.homeNavLink:hover::after{
    width: 100%;
    background-color: white;
}

.homeNavActiveLink{
    color:#FFEFD3 !important;
}
.homeNavActiveLink::after{
    content: "";
    background-color: white;
    height: 4px;
    width: 100%;
    display: block;
}


.beegDogFrame{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;

}
.beegDog{
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* position: absolute; */
}


#extra30MarginTB{
    margin: 3% auto;
}

.petCareCarouselPics{
    height: 30vh;
    object-fit: cover;
}

.donatePics{
    max-width: 200px;
    display:inline-block;
    vertical-align: middle;

  
}

.donateList{
    list-style: none;
}
.donateList>li{
    margin: 3% 20%;
}

#paypalHeader{
    background-color: transparent;
    border: 0px;
    color:#144771;
    font-weight: 500;
}

.donateHeaders{
    text-decoration: none;
    color:#144771;
    display: inline-block;

}
.donateHeaders:hover{
    color:#144771;

}

.donateHeaders::after{
    content: '';
    height: 4px;
    width: 0;
    background-color: transparent;
    display: block;
    margin-top: 5px;
    transition: width .5s ease, background-color .5s ease;
}

.donateHeaders:hover::after{
    width: 100%;
    background-color: #144771;
}

.donateP{
    font-size: large;
    text-align: center;
}
