/* *{
    border: 4px solid red
} */

/* 
.specificRow{
    border: blue solid 0px;
     width: 100%;
     padding-left: 15%;
     padding-right: 15%;
     margin: auto !important;
}
.inSpecificCol{
display: inline-block;
border: red solid 0px;
float: left;
text-align: left;
}
.inSpecificColB{
display: inline-block;
border: green solid 0px;
float: right;
text-align: left;
} */
* {
  font-family: Optima, sans-serif;
  /* font-size: 1.1vw; */
}

/* very important fixes a ton of issues on phone screen sizes with 
extra white space to the right!! */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
* {
  font-family: Optima, sans-serif;
  /* font-size: 18px; */
}
@media (min-width: 2000px) {
  * {
    border: "red solid 2px";
  }
  * {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 1.1vw; */
  }
}

.squishTxt {
  padding: 0 20%;
}
@media (max-width: 768px) {
  .squishTxt {
    padding: 0 10%;
  }
}
.appleSign {
  /* font-size:20px; */
  /* font-weight: bolder;
    transform: scale(.5, 1);
    display: inline-block; */
  /* font-family: Arial, sans-serif; */
}
p,
div,
li,
button,
input,
select {
  font-size: 18px !important;
}
.leftAlignDiv {
  display: inline-block;
  text-align: left;
}

.dateField {
  width: 140px;
}

#contactOptions {
  /* margin-left: 30%;
    margin-right: 30%; */
  text-align: left;
}

#minorText {
  font-size: 12 !important;
  color: #686868;
  margin-top: 0;
  padding-top: 0;
  border: black, solid, 2px;
}

.main {
  margin-top: 30px;
}

.box {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: top;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  border: #144771 solid 2px;
  border-radius: 15px;
}

.themeBlue {
  color: #144771;
}

.adoptableImg {
  /* max-height: 35vh; */
  max-height: 100%;
  /* max-width: 440px;  */
  max-width: 100%;
  /* border-radius: 15px; */
  /* border: 10px solid #386A92; */
  /* border: 4px solid #144771;
  border: 4px solid #144771; */
}
.adoptableTxtDiv {
  /* border: red solid 2px; */
  /* max-width: 100%; */
}
/* @media(max-width: 768px){
    .adoptableImg {
        max-height: 440px;
        max-width: 75%;
      }

} */

.dogContainer {
  /* border-radius: 25px; */
  /* border: #144771 solid 5px; */
  /* padding: 20px; */
  padding: 1.5%;
  margin: 2.5% auto;
  background-color: #fff9ee;
  /* background-color: #dceef8; */

  /* background-image: linear-gradient(to right,white, #C7C5C5, white); */
  /* border-right: 6px solid  #144771; */
  border: 4px solid #144771;

  border-radius: 25px;
}

.dogImgContainer {
  /* max-width: 100%;
    border: red solid 10px; */
  /* background-color: #386A92; */
  /* border-radius: 25px; */
  /* padding: 1.5%; */
}

/* .dogImgContainer h2,h4{
    color:white;
} */

.dogTextContainer {
  /* padding: 1.5%;
    border-right: 5px solid  #144771;
    border-bottom: 5px solid  #144771; */
}
.adoptionFormBox {
  /* border-radius: 25px; */
  border-left: #144771 solid 5px;
  padding: 10px;
}
.adoptableImg {
  /* max-height: 35vh; */
  max-height: 440px;
  max-width: 95%;

  /* border-radius: 15px; */
  /* border: 10px solid #386A92; */
  /* border: 4px solid #144771; */
  border-radius: 25px;
}

.userHtml {
  background: #ffefd3;
  border: red solid 0px;
  /* background: #ffead0; */
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.themeBlue .form-control {
  background-color: #ffefd3;
  border: #c7c5c5 solid 1px;
  /* border:  #f0f0f0 solid 1px; */
  color: #144771;
}
.themeBlue .form-control:focus {
  background-color: #ffefd3;
  color: #144771;
  border: #144771 solid 1px;
  box-shadow: none;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(20, 71, 113, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(20, 71, 113, .6); */
}
.themeBlue .form-select {
  background-color: #ffefd3;
  color: #144771;
  border: #c7c5c5 solid 1px;
}
.themeBlue .form-select:focus {
  background-color: #ffefd3;
  color: #144771;
  border: #c7c5c5 solid 1px;
  box-shadow: none;
}

p {
  /* z-index: 20; */
  position: relative;
  /* color: black; */
}

div.container-fluid {
  position: relative;
  z-index: 20;
}

.userNav {
  /* background-color: #386A92; */
  background-color: #144771;
}

#noPadding {
  padding: 0;
}

#extra3Padding {
  padding: 3%;
}

#logoPic {
  height: 160px;
}

.homeNavLink {
  /* color:#FFEFD3 !important; */
  margin: 0 15px;
  padding: 0px;
  color: #c7c5c5 !important;
  color: #f0f0f0 !important;
}

.homeNavLink::after {
  content: "";
  background-color: transparent;
  height: 4px;
  width: 0;
  display: block;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.homeNavLink:hover::after {
  width: 100%;
  /* background-color: white; */
  /* background-color: #FFEFD3; */
  background-color: #c7c5c5;
  background-color: #f0f0f0;
}

.homeNavActiveLink {
  margin: 0 15px;
  padding: 0px;
  /* color:#FFEFD3 !important; */
  color: #c7c5c5 !important;
  color: #f0f0f0 !important;
}
.homeNavActiveLink::after {
  content: "";
  /* background-color: white; */
  /* background-color: #FFEFD3; */
  background-color: #c7c5c5;
  background-color: #f0f0f0;
  height: 4px;
  width: 100%;
  display: block;
}

.beegDogFrame {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.beegDog {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* position: absolute; */
}

.beegDogText {
  position: absolute;
  top: 20%;
  left: 30px;
  background: rgba(20, 71, 113, 0.8);
  color: #ffefd3;
  padding: 5px 10px;
  border-radius: 20px;

  /* bottom: 0;
    right: 0; */
}
.beegDogText h2,
.beegDogText a {
  -webkit-font-smoothing: antialiased;
  /* font-weight:100; */
}

@media (max-width: 768px) {
  .beegDogText {
    top: 0;
    left: 0;
    right: 0;

    text-align: center;
    border-radius: 0;
  }
  .beegDogText br {
    /* display: none; */
  }
}

#extra30MarginTB {
  margin: 3% auto;
}

.petCareCarouselPics {
  height: 300px;
  object-fit: cover;
}

.donatePics {
  /* max-width: 200px; */
  max-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

#paypalHeader {
  background-color: transparent;
  border: 0px;
  color: #144771;
  font-weight: 500;
}

.donateHeaders {
  text-decoration: none;
  color: #144771;
  display: inline-block;
  /* text-align: center; */
}
.donateHeaders:hover {
  color: #144771;
}

.donateHeaders::after {
  content: "";
  height: 4px;
  width: 0;
  background-color: transparent;
  display: block;
  margin: 5px 0;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.donateHeaders:hover::after {
  width: 100%;
  background-color: #144771;
}

.donateP {
  margin-top: -10px;
  font-size: large;
  text-align: center;
  /* text-align: left; */
  margin-bottom: 30px;
}

.donateDiv {
  margin: auto;
  margin-top: 30px;

  width: 100%;
}
.stickyNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* border: red solid 2px; */
  z-index: 3;
}
.tan {
  background-color: #ffefd3;
}

.themeButton {
  background-color: #144771 ;
  border-color: #144771 ;
  color: #f0f0f0;
  /* background-color:     #DC0404;
    border-color:    #DC0404; */
}
#coolBtn{
    background-color: #144771 ;
    border-color: #144771 ;
    color: #f0f0f0;
    box-shadow: none;
}

.logoDiv {
  padding-top: 2px;
}


.justBlueBox {
  height: 166px;
  background: #144771;
}

@media (min-width: 768px) {
  .userNavColDiv {
    margin-top: 4px;
    /* border: red solid 2px; */
    height: 145px;
    /*  get rid of for juicier */
    position: relative;
    /* width: 25%; */
    width: 50%;
  }

  .userNavColDiv.left {
    /* position: relative; */
    /* border: green solid 4px; */
    padding-right: 100px;
  }

  .userNavColDiv.right {
    /* border: white solid 4px; */
    /* left: 20px; */
  }
  .userNavClass {
    /* border: black solid 2px; */
    position: absolute;

    bottom: 0;
  }

  .userNavClass.left {
    right: 93px;
  }
  .userNavClass.right {
    left: 93px;
  }
  .userNavRow {
    border: 0px;
    margin-right: 0;
    margin-left: 0;
    /* max-width:100%;  */
  }
}
.customLink {
  color: #c7c5c5;
  color: #f0f0f0;
  text-decoration: none;
}
.customLink:hover {
  color: #c7c5c5;
  color: #f0f0f0;
  text-decoration: underline;
}

#topRight {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  padding-top: 5px;
  padding-right: 10px;
  color: transparent;
  transition: color 0.3s ease;
}
#topRight:hover {
  color: #ffefd3;
}

#topRightContainer {
  position: relative;
}
.homeRow {
  border: red solid 0px;

  /* border-bottom: #fff9ee solid 10px; */

  /* height: 300px; */
  /* margin-bottom: 30px; */
  /* margin-top:20px; */
}
.homeRow p {
  /* margin-bottom: 0; */
}

.lineDiv {
  width: 75%;
  margin: 20px auto;


  border: #144771 solid 2px;
}

.homeCol {
  /* padding-bottom: 0; */
  
  border: green solid 0px;
  /* height: 300px; */
  position: relative;
}

@media (min-width: 768px) {
  .homeCol {
    /* border: green solid 2px; */
    /* height: 300px; */
    /* position: relative; */
  }
}
.homeColImgDiv {
  border: black solid 0px;
  width: 100%;
  height: 300px;
}
.homeCol img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

@media (min-width: 768px) {
  .hideOnBig {
    display: none;
  }
  .myOuter {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: red solid 0px;
  }

  .myMiddle {
    display: table-cell;
    vertical-align: middle;
    border: black solid 0px;
  }

  .myInner {
    border: white solid 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .homeCol {
    text-align: center;
  }
  .hideOnPhone {
    display: none;
  }
}

.verticalDogPic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verticalDogPic img {
  max-width: 50vw;
  max-height: 50vh;
  /* padding: 5px; */
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 7px solid #144771;
}

#noMargin {
  margin: 0;
}
.underlineHeading {
  text-align: center;
  padding: 0;
}

.underlineHeading::after {
  content: "";
  display: block;
  padding: 2px;
  margin: 5px;
  background-color: #144771;
}

#noMarginExtraPadding {
  margin: 0;
  padding: 3%;
}
.homeCol img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

@media (min-width: 768px) {
  .hideOnBig {
    display: none;
  }
  .myOuter {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: red solid 0px;
  }

  .myMiddle {
    display: table-cell;
    vertical-align: middle;
    border: black solid 0px;
  }

  .myInner {
    border: white solid 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.fullPage {
  position: relative;
  border: red solid 0px;
}

@media (max-width: 768px) {
  .homeCol {
    text-align: center;
  }
  .hideOnPhone {
    display: none;
  }
}

.rescueQuoteDiv {
  width: 75%;
  margin: auto;
}
/* p{
    color: black;
} */
/* .footer{
    color: #144771;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
} */
.footerRight {
  text-align: right;
}
.footerDiv {
  border: green solid 0px;
  /* margin-bottom: 0; */
  padding: 20px;
  /* padding-top:100px; */
  /* border-top: #144771 solid 2px; */
  /* color: #144771;
    background-color: #fff9ee; */
  background-color: #144771;
  color: #f0f0f0;
  /* border: red solid 2px; */
  width: 100%;
  /* vertical-align: bottom; */
  /* position: absolute;
  bottom: 0; */
}
@media (min-width: 768px) {
  .footColL {
    text-align: left;
    /* position: absolute;
    bottom: 0; */
  }
  .footColR {
    text-align: right;
    /* position: absolute;
bottom: 0;
right: 0; */
  }
}
@media (max-width: 768px) {
  .footColL,
  .footColR {
    text-align: center;
  }
}

.followUsDiv {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .followUsDiv {
    margin-bottom: 80px;
  }
}
.myCoolPic {
  max-width: 75%;
}

/* .fullPicDiv{
    width: 100%;
    height: 400px;

    overflow: hidden;

} */

.fullPic {
  /* max-width: 100%; */
  width: 100%;
  margin-bottom: 100px;
}

.pushDown {
  height: 40px;
}
.donatePushDown {
  height: 40px;
}

@media (max-width: 768px) {
  .donatePushDown {
    height: 100px;
  }
  .petCarePushDown {
    height: 40px;
  }

  .pushDown {
    height: 80px;
  }
}

.mostOuter{
    width: 100%;
    /* border: red solid 3px; */
    display: inline;
    /* display: table-cell; */
}