.homeMid{
    margin: 30px;
}
.dogContainer{
    border-radius: 25px;
    border: black solid 5px;
    padding: 20px;
}

.outerFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.downloadBtns{
    margin: 5px;
    width:100%;
}
.loginInner{
    padding: 10px;
}
.sr-only{
    display: none;
}